# For the AI agent and graph workflows
google-generativeai
langgraph
langchain_google_genai
google-genai
# For financial data
yfinance
newsapi-python
# For web scraping and APIs
beautifulsoup4
requests
pandas 
